.contenedor{
    width:80vw;
    min-height: 100vh;
    border:1px solid blue;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 20% auto 20%;
    margin:0 auto;
    header{
        grid-column: 1 / 4;
        min-height: 15%;
        border:1px solid orange;
        box-sizing: border-box;
    }
    .aside1{
        grid-column: 1 / 2;
        min-height:70%;
        border:1px solid red;
        box-sizing: border-box;
    }
    main{
        grid-column: 2 / 3;
        min-height: 70%;
        border:1px solid purple;
        box-sizing: border-box;
    }

}